@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

:root {
    --primary-color: #cc293c;
    --secondary-gray: #272727;
}

@keyframes animation-show {
    from {
        opacity: 0;
        transform: translateY(-5vh);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

body {
    color: white;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    background-color: #313131;
    background: linear-gradient(45deg, #111111 0%, #414141 100%);
    animation-name: animation-show;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}


h1 {
    color: var(--primary-color);
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
}

.button {
    user-select: none;

    color: var(--primary-color);
    
    border: solid;
    border-width: 1px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    text-align: center;

    width: 20vw;
}

.button a {
    text-decoration: none;
    color: inherit;
    width: 100%;

    font-weight: 500;
    font-size: 2vw;
    text-align: center;
}

.reverse-button {
    user-select: none;

    color: var(--secondary-gray);

    background-color: var(--primary-color);
    
    border: solid;
    border-color: var(--primary-color);
    border-width: 1px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    text-align: center;

    width: 20vw;
}

.reverse-button a {
    text-decoration: none;
    color: inherit;
    width: 100%;

    font-weight: 500;
    font-size: 2vw;
    text-align: center;
}

#mod-title {
    margin-top: 0vh;
    margin-bottom: 1vh;
}

#download-buttons {
    margin-top: 4vh;
}

#download-buttons * {
    margin: 1vh;
}

#cards-container {
    margin-top: 5vw;
}

.horizontal-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-button {
    text-decoration: none;
}

.card {
    display: flex;
    flex-wrap: wrap-reverse;
}

.card img {
    border-radius: 5px;
    width: 100%;
}

.row * {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8vh;
    padding: 0 4px;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
    align-items: center;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

#top-bar {
    display: flex;
    flex-direction: row-reverse;
}

#top-bar * {
    color: white;
    font-size: 1.2vw;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding-left: .2vw;
    padding-right: .2vw;
}

#top-bar span {
    background-color: var(--secondary-gray);
    border-radius: 5px;
    padding-left: .3vw;
    padding-right: .3vw;
    padding-top: .3vh;
    padding-bottom: .3vh;
}

.discord-logo {
    height: 1.5vh;
}

@media (max-width: 1024px) {
    h1 {
        color: var(--primary-color);
        font-weight: 900;
        text-align: center;
        font-size: 17vw;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }

    .reverse-button {
        width: 35vw;
    }

    .reverse-button a {
        font-size: 5vw;
    }

    .button {
        user-select: none;

        border: solid;
        border-width: 1px;
        border-radius: 5px;

        width: 35vw;
    }

    .button a {
        font-size: 5vw;
    }

    #top-bar {
        visibility: hidden;
    }
}